<div class="background">
    <div class="container ">

        <div class="card text-center bg-transparent">
            <div class="card-header bg-light">
                <b> Verificacion de Email </b>
            </div>
            <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
                <h5> Te enviamos un correo para que puedas verificar tu cuenta. </h5>
                <h6>Recuerda que para ingresar a tu cuenta debes verificar tu correo.</h6>
                <div class="d-gripd gap-2 mt-3">
                    <button ype="button" class="btn btn-success" routerLink="/login"> Regresar</button>
                </div>
            </div>


        </div>
       
       
        <!--   <app-spinner *ngIf="loading"></app-spinner>  -->
    </div>

</div>