<div class="background">
    <div class="container ">

        <div  *ngIf="!loading" class="card text-center bg-transparent">
            <div class="card-header bg-light">
                <b> Registrate </b>
            </div>
            <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
                <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                    <label style="float: left ;">Email</label>
                    <input class="form-control m-1" type="Email" placeholder="Ingree su Email" required
                        formControlName="email">
                    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required'] "
                        class="alert alert-warning"> Este campo es Requerido</div>
                    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email'] "
                        class="alert alert-warning"> ¿Esta bien escrito el correo? </div>

                    <label style="float: left ;">Contraseña</label>
                    <input class="form-control m-1" type="Password" placeholder="Ingrese su contraseña" required
                        formControlName="password">
                    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required'] "
                        class="alert alert-warning"> Este campo es Requerido</div>
                    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength'] "
                        class="alert alert-warning"> Ups' tu contraseña es muy corta </div>

                    <label style="float: left ;">Confirmar Contraseña</label>
                    <input class="form-control m-1" type="Password" placeholder="Ingrese su contraseña nuevamente"
                        required formControlName="confirmPassword">

                    <button type="submit" class="btn btn-primary w-100 mt-3"
                        [disabled]="registerForm.invalid">Ingresar</button>
                    <button type="button" class="btn btn-success w-100 mt-3" (click)="ingresarGoogle()"> Ingresar Con
                        Google</button>
                    <label> ¿tienes cuenta? <a href="#">Ingresa aqui</a></label>
                </form>
            </div>


        </div>
        <app-spinner *ngIf="loading" ></app-spinner>
    </div>

</div>