<p-card header="Reserva Realizada">
    <h5 class="text-center">¡Excelente!</h5>
    <p class="text-center" >
        La hora a sido agendada correctamente. <br>
        Se te enviara un correo con los detalles de la misma a la brevedad. <br>
        Recuerda que debes conectarte a la hora indicada para poder realizar la consulta. <br>
        Se te enviara un link de acceso a la sala de espera via correo electronico o podras acceder a este link
        desde la seccion "mis horas agendadas".
        <br>
        Saludos.
    </p>

    <div class="text-center">
        <button pButton pRipple type="button" label="Ir a Mis Horas" class="p-button-outlined p-button-rounded p-button-help"
        (click)="handleClick()"></button>
    </div>
</p-card>