<div class="col-12">
    <div class="card">
        <br>
        <form [formGroup]="diasForm" (ngSubmit)="submit()"  >
            <div class="input-group">
                <h5> &nbsp; Indicar sus días de atencion</h5>
                <ul class="icheck-list">
                    <div *ngFor="let dia of dias let i=index" >
                        <p-checkbox name={{dia.name}} value={{dia.value}} 
                                    label={{dia.name}} 
                                    (onChange)="onCheckboxChange($event, dia.name)"
                                    > 
                        </p-checkbox>
                    </div>   
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-3">
                    <p-button class="button text-right" type="submit" label="Guardar" ></p-button>
                </div>
            </div>
        </form>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
</div>

<p-dialog header="Aviso" [(visible)]="display" [modal]="true" [style]="{width: '60vw'}">
    <div class="modalAviso">
        <b>Hola!, Bienvenidos</b><br>
        <p>
            Vemos que es tu primera vez aqui, Para comenzar deber indicar tus dias de atencion y tus horarios para configurar tu agenda. <br>
            Espero que puedas configurarlo correctamente y empieces atender a tus pacientes a la brevedad. <br>
            Saludos.
        </p>
        
        <p-button icon="pi pi-check" (click)="display=false" label="¡A comenzar!" styleClass="p-button-text"></p-button>
    </div>

</p-dialog>