<p-card>
    <div class="row col">
        <h6>Nombre del Usuario</h6>
        <input type="text" pInputText [(ngModel)]="usuario.displayName" disabled="true"/>
    </div>
    <br>
    <div class="row col">
        <h6>Correo Electronico</h6>
        <input type="text" pInputText [(ngModel)]="usuario.email" disabled="true" />
    </div>
    <br>
    <div class="row col">
        <h6>PhotoURL</h6> <!-- Tal vez implmentar la subida de fotos pero ñe-->
        <input type="text" pInputText [(ngModel)]="usuario.photoURL" />
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h6>Rol</h6>
            <p-dropdown [options]="roles" [(ngModel)]="rolSelected" optionLabel="name" (onChange)="rolChange($event.value)">
                <ng-template pTemplate="selectedItem" >
                    <div class="country-item country-item-value" *ngIf="rolSelected">
                        <div>{{rolSelected.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-rol pTemplate="item">
                    <div class="rol-item">
                        <div>{{rol.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col">
            <h6>Rol Actual</h6>
            <input type="text" pInputText [(ngModel)]="usuario.rol" disabled="true" />
        </div>
    </div>

    <br>
    <div class="row" *ngIf="usuario.especialidad">
        <div class="col">
            <h6>Especialidad</h6>
            <p-dropdown [options]="especialidades" [(ngModel)]="especialidadSelected" optionLabel="especialidad"
                [filter]="true" filterBy="especialidad" [showClear]="false" (onChange)="especialidadChange($event.value)">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="especialidadSelected">
                        <div>{{especialidadSelected.especialidad}}</div>
                    </div>
                </ng-template>
                <ng-template let-especialidad pTemplate="item">
                    <div class="especialidad-item">
                        <div>{{especialidad.especialidad}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col">
            <h6>Especialidad Actual</h6>
            <input type="text" pInputText [(ngModel)]="usuario.especialidad" disabled="true" />       
         </div>
    </div>
    <br>
    <div>
        <p-button label="Actualizar Datos" icon="pi pi-check" (onClick)="submit()"></p-button>
    </div>

</p-card>

<!-- Confirmacion del submit-->
<p-confirmDialog header="Actualizar Datos" icon="pi pi-exclamation-triangle"></p-confirmDialog>
