<p-card header="Apertura Agenda">
        <!--  -->
        <div *ngIf="flag">
                <div *ngIf="statusConfig"> <!-- Este  tramo es solamente si esta configurado previamente la agenda-->
                        
                        <div class="fechaPrevia" *ngIf="flagFecha">
                                <i>Ultima fecha Aperturada: </i>
                                <p-calendar inputId="basic" [(ngModel)]="lastDayOpen" dateFormat="dd/mm/yy"
                                disabled=true>
                        </p-calendar>
                </div>
                <i *ngIf="!flagFecha">No ha abierto su agenda Nunca.</i>
                <br>
                <div>
                        <h6>Defina rango de fechas</h6>
                        <p-calendar inputId="basic" [(ngModel)]="fecha" dateFormat="dd/mm/yy"
                        [numberOfMonths]="2" selectionMode="range" [showOtherMonths]="false"
                        [minDate]="fechaInicioTemp" [maxDate]="fechaFinTemp" [firstDayOfWeek]="1"
                        [required]="true" (onClose)="eventCalendar()"></p-calendar>
                </div>
                <br>
                        <div>
                                <p-button label="Abrir Agenda" [disabled]="!flagButton" (click)="abrirAgenda()">
                                </p-button>
                        </div>
                </div>
                
                <div *ngIf="!statusConfig">
                        <h6>Agenda No configurada</h6>
                        <em>La agenda aun no ha sido configurada, debes realizarlo previamente antes de dirigirte aca.</em>
                        <br> <br>
                        <p-button (onClick)="goToCreateConfig()" >Configurar Agenda</p-button>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <p-progressBar *ngIf="!flag" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
</p-card>
<!-- Dialog o popUp de Primeng -->
<p-toast position="top-left"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>