<div class="background">
<div class="container ">

<div class="card text-center bg-transparent">
    <div class="card-header bg-light">
      <b> Iniciar Sesion </b>
    </div>
    <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <label style="float: left ;">Email</label>
            <input class="form-control m-1" type="Email" placeholder="Ingree su Email" required formControlName="email" >
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required'] "
                class="alert alert-warning" > Este campo es Requerido</div>
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email'] "
                class="alert alert-warning" > ¿Esta bien escrito el correo? </div>

            <label style="float: left ;" >Contraseña</label>
            <input class="form-control m-1" type="Password" placeholder="Ingrese su contraseña" required formControlName="password" >
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'] "
                class="alert alert-warning" > Este campo es Requerido</div>
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength'] "
                class="alert alert-warning" > Ups' tu contraseña es muy corta </div>
            
            <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="loginForm.invalid" >Ingresar</button>
            <label > Aun no tienes cuenta? <a href="#">Registrarse</a></label>
        </form>
    </div>


</div>

</div>
