            <!-- <div class="background">
                <div class="container ">

                    <div *ngIf="!loading" class="card text-center bg-transparent">
                        <div class="card-header bg-light">
                            <b> Iniciar Sesion </b>
                        </div>
                        <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
                            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                                <label style="float: left ;">Email</label>
                                <input class="form-control m-1" type="Email" placeholder="Ingree su Email" required
                                    formControlName="email">
                                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required'] "
                                    class="text-danger"> Este campo es Requerido</div>
                                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email'] "
                                    class="text-danger"> ¿Esta bien escrito el correo? </div>

                                <label style="float: left ;">Contraseña</label>
                                <input class="form-control m-1" type="Password" placeholder="Ingrese su contraseña" required
                                    formControlName="password">
                                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'] "
                                    class="text-danger"> Este campo es Requerido</div>
                                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength'] "
                                    class="text-danger"> Ups' tu contraseña es muy corta </div>

                                <button type="submit" class="btn btn-primary w-100 mt-3"
                                    [disabled]="loginForm.invalid">Ingresar</button>
                                <button type="button" class="btn btn-success w-100 mt-3" (click)="ingresarGoogle()"> Ingresar Con
                                    Google</button>
                                <label> ¿Aun no tienes cuenta? <a href="/register">Registrarse</a></label>
                                <br>
                                <label> ¿Te olvidaste de tu contraseña? <a href="/recuperar">recuperala</a></label>

                            </form>
                        </div>


                    </div>
                    <app-spinner *ngIf="loading"></app-spinner>

                </div>

            </div> -->


            <!-- PRIMERA PARTE COMENTADA PARA PROBAR NUEVA VERSION-->

    <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="form-horizontal form-material" >
                        <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                        <div class="form-group m-t-40">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required placeholder="Correo Electronico" formControlName="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" placeholder="Contraseña" formControlName="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-primary pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup"> Recuerdame </label>
                                </div>
                                <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesion</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social"><a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a> </div>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                ¿No tienes cuenta? <a href="pages-register2.html" class="text-primary m-l-5"><b>¡Registrate!</b></a>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="recoverform" action="index.html">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <h3>Recover Password</h3>
                                <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->