<!-- <div class="background">
    <div class="container ">

        <div  *ngIf="!loading"  class="card text-center bg-transparent">
            <div class="card-header bg-light">
                <b> Recuperar Contraseña </b>
            </div>
            <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
                <form (ngSubmit)="onSubmit()" [formGroup]="recuperarUsuario">
                    <label style="float: left ;">Email</label>
                    <input class="form-control m-1" type="Email" placeholder="Ingree su Email" required
                        formControlName="email">
                    <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['required'] "
                        class="text-danger"> Este campo es Requerido</div>
                    <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['email'] "
                        class="text-danger"> ¿Esta bien escrito el correo? </div>

                    <button type="submit" class="btn btn-primary w-100 mt-3"
                        [disabled]="recuperarUsuario.invalid">Ingresar</button>

                    <A href="/login" class="link-info" >Volver</A>
                </form>
            </div>


        </div>
       <app-spinner *ngIf="loading"></app-spinner> 

    </div>

</div> -->



<!-- DESACTIVADA PRIEMRA PARTE TEMPORALMENTE -->


<p>Puxa muy pronto</p>