<!-- <div class="background">
    <div class="container ">

        <div  *ngIf="!loading"  class="card text-center bg-transparent">
            <div class="card-header bg-light">
                <b> Recuperar Contraseña </b>
            </div>
            <div class="card-body p-4 shadow-lg p-3 mb-5 bg-body rounded">
                <form (ngSubmit)="onSubmit()" [formGroup]="recuperarUsuario">
                    <label style="float: left ;">Email</label>
                    <input class="form-control m-1" type="Email" placeholder="Ingree su Email" required
                        formControlName="email">
                    <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['required'] "
                        class="text-danger"> Este campo es Requerido</div>
                    <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['email'] "
                        class="text-danger"> ¿Esta bien escrito el correo? </div>

                    <button type="submit" class="btn btn-primary w-100 mt-3"
                        [disabled]="recuperarUsuario.invalid">Ingresar</button>

                    <A href="/login" class="link-info" >Volver</A>
                </form>
            </div>


        </div>
       <app-spinner *ngIf="loading"></app-spinner> 

    </div>

</div> -->



<!-- DESACTIVADA PRIEMRA PARTE TEMPORALMENTE -->

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form [formGroup]="recuperarUsuario" (ngSubmit)="onSubmit()"  class="form-horizontal form-material" >
                <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required placeholder="Correo Electronico" formControlName="email">
                        <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['required'] "
                            class="text-danger"> Este campo es Requerido</div>
                        <div *ngIf="recuperarUsuario.get('email')?.touched && recuperarUsuario.get('email')?.errors?.['email'] "
                            class="text-danger"> ¿Esta bien escrito el correo? </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesion</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</section>


