<!-- Dialogo de confirmacion-->
<p-confirmDialog header="Confirmacion" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<p-card header="Mis Horas Agendadas">

    <p-table #dt [value]="sesiones" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">
        <ng-template pTemplate="caption">
            <div class="table-header">
                Horas Agendadas
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="status" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        status
                    </div>
                </th>
                <th pSortableColumn="especialidad" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Especialidad
                        <p-sortIcon field="especialidad"></p-sortIcon>
                        <p-columnFilter type="text" field="especialidad" display="menu" class="ml-auto">
                        </p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="profesional" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Profesional
                        <p-sortIcon field="profesional"></p-sortIcon>
                        <p-columnFilter type="text" field="profesional" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="timeStart" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Fecha
                        <p-sortIcon field="timeStart"></p-sortIcon>
                        <p-columnFilter field="representative" display="menu" class="ml-auto"> </p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="date" style="min-width: 10rem">
                    <div class="flex justify-content-between align-items-center">
                        Hora
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        Link Zoom
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        Re Agendar
                    </div>
                </th>
                <th style="width: 5rem">
                    <div class="flex justify-content-between align-items-center">
                        Anular
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sesion>
            <tr class="p-selectable-row">
                <td>
                    <span class="p-column-title">especialidad</span>
                    {{sesion.status}}
                </td>
                <td>
                    <span class="p-column-title">especialidad</span>
                    {{sesion.especialidad}}
                </td>
                <td>
                    <span class="p-column-title">Profesional</span>
                    <span class="image-text">{{sesion.nombreProfesional}}</span>
                </td>
                <td>
                    <span class="p-column-title">Fecha</span>
                    <span class="image-text">{{sesion.timeStart | date: 'dd/MM/yyyy'}}</span>
                </td>
                <td>
                    <span class="p-column-title">Date</span>
                    {{sesion.timeStart | date: 'HH:mm'}}
                </td>

                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-video" *ngIf="!(sesion.uidReserva == sesionCancelada.uidReserva) || sesion.status=='cancelada'"
                        (click)="navigate(sesion.urlPaciente)"></button>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-calendar"
                        (click)="reAgendar(sesion)"></button>
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-ban"
                        (click)="anular(sesion)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No Tienes sesiones agendadas aun.</td>
            </tr>
        </ng-template>
    </p-table>


</p-card>

<p-toast></p-toast>
<p-dialog header="Anulacion Cita" [(visible)]="display" [modal]="true">
    <b>Estimad@:</b>
    <p>Lamentablemente Su hora con el profesional {{sesionCancelada.nombreProfesional}} a sido cancelada por motivos de fuerza mayor.</p>
    <p>Te invitamos a Re-agendarla en el siguiente link.</p>
    <button pButton pRipple type="button" label="Re-agendar" (click)="anular(sesionCancelada)" class="p-button-rounded p-button-info"></button>

</p-dialog>