<div id="main-wrapper">

    <!-- <app-header></app-header> -->
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <a href="/"><img src="../../../../../assets/images/icon.png" height="40" class="mr-2"></a>
        </ng-template>
        <ng-template pTemplate="end">
            {{rol}}:
            <b>{{nombreUsuario}} &nbsp;</b>
        </ng-template>

    </p-menubar>
    <!-- <app-sidebar></app-sidebar> -->
    <!-- <div class="page-wrapper"> -->
    <div class="">
        <div class="container-fluid">

            <!-- Sistema de Ruteo -->
            <router-outlet></router-outlet>

        </div>
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2022 TeleMed por Franco Fuentes
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
    </div>


</div>